.image-link {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .image-link:hover .image {
    transform: scale(1.1); /* Zoom effect */
  }
  
  .image-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); /* Add subtle shadow for visibility */
  }
  